---
// Back to Top button component
---

<a href="#" id="back-to-top" class="fixed bottom-8 right-8 bg-violet-500 text-white h-12 w-12 rounded-full flex items-center justify-center shadow-lg opacity-0 translate-y-4 hover:bg-violet-600">
    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" /></svg>
</a>

<script>
    // Back to Top Button
    const backToTopButton = document.getElementById('back-to-top');
    if (backToTopButton) {
        window.addEventListener('scroll', () => {
            if (window.scrollY > 300) {
                backToTopButton.classList.remove('opacity-0', 'translate-y-4');
            } else {
                backToTopButton.classList.add('opacity-0', 'translate-y-4');
            }
        });
    }
</script>